
<div id="body">
<div class="sticky-header">
  <div class="header">
      <div class="container">
      <nav class="navbar navbar-light  justify-content-between">
              <div class="logo">
                  <a href="/" rel="home" id="logo">
                    <img src="../../assets/icons/main-logo.png" alt="Save the Children India">
                    </a>
                    </div>
          <form class="form-inline">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            <div class="nav-section">
            <a class="nav-link home-log" href="#">LOG OUT</a>
            </div>
          </form>
        </nav>
        </div>
  </div>
  <div class="nav-menu container">
      <nav class="nav">
          <a class="nav-link home-link" href="#">HOME</a>
          <a class="nav-link home-link" href="#">PROFILE</a>
          <a class="nav-link home-link" href="#">GRANT HISTORY</a>
          <a class="nav-link home-link" href="#">PRODUCT CATALOGUE</a>
          <a class="nav-link home-link" href="#">QUERIES</a>
          <a class="nav-link home-link" href="#">NEWS</a>
          <a class="nav-link home-link" href="#">ADMIN</a>
          <a class="nav-link home-link" href="#">PROGRAMME AGREEMENT</a>
          <a class="nav-link home-link" href="#">FAQS</a>
        </nav>
  </div>  
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="section-nav">
      
    </div>
  </div>
</div>
<div class="section-info">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-1"></div>
        <div class="col-4 home-info"><span>TOTAL FUNDING AVAILABLE:$203,100</span></div>

        <div class=" vertical-bar"></div>
        <div class="col-4 home-info"><span>NUMBER OF GRANTS REMAINING:205*</span></div>
        <div class="col-1"></div>
        </div>
        </div>

      </div>
</div>
<br>
<div class="row">
  <div class="col-1"></div> 
  <div class="col-10"><h4>
   <span class="home-para"> SUSAN JAMES</span><span style="font-family: sans-serif"> KENT COUNTY COUNCIL</span></h4>
</div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-8">
  <div class="row">
    <div class="col-12">
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../assets/images/image 4.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">APPLY FOR A GRANT <span><a href="#"><img style="height: 25px;" src="../../assets/images/navigation-icon.png"></a></span></h5>
          </div>
         
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/images/image 3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">GRANT HISTORY <span><a href="#"><img style="height: 25px;" src="../../assets/images/navigation-icon.png"></a></span></h5>
          </div>
         
        </div>
        </div>
        </div>
       


</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../assets/images/image 1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">MY DASHBOARDS AND REPORTS <span><a href="#"><img style="height: 25px;" src="../../assets/images/navigation-icon.png"></a></span></h5>
          </div>
         
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/images/image 2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">IMPACT ASSESSMENTS <span><a href="#"><img style="height: 25px;" src="../../assets/images/navigation-icon.png"></a></span></h5>
          </div>
          
        </div>
        
      </div>
      </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../assets/images/image 5.jpg" alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title">RAISE A QUERY <span><a href="#"><img style="height: 25px;" src="../../assets/images/navigation-icon.png"></a></span></h5>
            </div>
        
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/images/image 6.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">GUIDANCE INFORMATION & FAQS <span><a href="#"><img style="height: 25px;" src="../../assets/images/navigation-icon.png"></a></span></h5> 
          </div>
         
        </div>
       
      </div>
</div>
</div>
</div>
<div class="col-4">
    <div class="card-deck">
        <div class="card bg-primary">
          <div class="card-body">
            <div class="data-card">
            <div class="news-data">
            <h2 class="card-title" style="padding: 10px;">LATEST NEWS</h2><h6 style="padding: 10px;">all the latest news and blogs from<br> save the children <span><a href="#"><img style="height: 25px;" src="../../assets/images/navigation-icon.png"></a></span></h6></div>
            <p class="card-text" style="color: aliceblue">While Save the Children appreciates monthly donations more where you choose to donate a small fixed amount monthly for us to be able to plan our programs for longer term, a single donation can also help save a child.</p>
            <hr>
            <p style="color: aliceblue;">While Save the Children appreciates monthly donations more where you choose to donate a small fixed amount monthly for us to be able to plan our programs for longer term, a single donation can also help save a child.</p>
            <hr>
            <p style="color: aliceblue;">Like other aid agencies, Save the Children was active in the major disasters of the era—especially the Vietnam War and the Biafra secession in Nigeria. The latter brought shocking images of child starvation<br>
            </p> <hr><p style="color: aliceblue;">The child that is hungry must be fed, the child that is sick must be nursed, the child that is backward must be helped, the delinquent child must be reclaimed.a single donation can also help save a child.
            </p>
            </div>
          </div>
        </div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-8">
      <span>Save the children Fund is a registred company limited by guarantee (Compnay No. 178159)<br>
      Registred Charity No. 213890 (England & Wales) and SC03434(Scotland) | 1 St John Lane, London, EC1M 4AR</span>
    </div>
    <div class="col-3">
      <a href="#"><img src="../../assets/images/FR_RegLogo_HR.jpg" style="height: 50px; padding-left: 12rem;" alt="fundrising logo"></a>
    </div>
  </div>
</div>
<br>
<br>


</div>

<div class="row ">
    <div class=" col-12 footer-section"></div>
  </div>

  <br>
  <br>